body{
    background:linear-gradient(rgb(14, 1, 33),rgb(21, 4, 49),rgb(28, 6, 67));
    background-repeat: no-repeat;   
    background-attachment: fixed;  
    overflow-x: hidden;
   }

.nav-link:hover{
       box-shadow: 0 0 10px white;
 }
 
 nav{
   background-color: rgb(25, 3, 49);
 }

 
#btn{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right bottom,rgb(63, 3, 160),rgb(85, 31, 172),rgb(107, 59, 185));
    color: white;
    margin-top: 10px;
    border: 2px solid rgb(83, 21, 227);
}

main .intro{
    margin-top: 300px;
    width: 600px;
    margin-left: 20%;
}

.skills .container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
}

.skills .card{
    width: 15rem;
    margin-bottom: 10px;
}

.card img{
    height: 160px;
}

.education{
    margin-top: 50px;
    display: flex;
    margin-left: 20%;
    gap: 50px;
}

.education .card{
    width: 450px;
    color: white;
    box-shadow: 0 0 8px rgb(125, 63, 239);
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(33, 7, 73);
}

.certificate .container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
    border: 2px solid rgb(83, 21, 227);
    padding: 50px;
}

.certificate .card{
    width: 19rem;
}

.certificate .card img{
    height: 200px;
}

@media(max-width:480px) {

    body{
        margin: 0%;
        font-size: 15px;
    }

   .intro{
     margin: 0%;
     width: 300px;
   }  

   .skills{
     margin-top: -50px;
   }
  
    .skills .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 15%;
        gap: 50px;
       
    }

    h2{
        margin-left: 60%;
    }
    
    .education{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 120px;
    }
    
    .certificate .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0;
        gap: 50px;
        margin-top: -20px;
    }

    .certificate .card{
        width: 15rem;
    }
}