body{
    background:linear-gradient(rgb(14, 1, 33),rgb(21, 4, 49),rgb(28, 6, 67));
    background-repeat: no-repeat;   
    background-attachment: fixed;  
     box-sizing: border-box;
     scroll-behavior: smooth;

}

.nav-link:hover{
    
 }
 
 nav{
   background-color: rgb(25, 3, 49);
   position: fixed;
 }

 
#btn{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right bottom,rgb(63, 3, 160),rgb(85, 31, 172),rgb(107, 59, 185));
    color: white;
    margin-top: 10px;
    border: 2px solid rgb(83, 21, 227);
}

main .intro{
    width: 600px;
    margin-top: 300px;
    animation: moving ;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.skills{
    width: 80%;
    margin-top: 80px;
    display: flex;
    margin-left: 10%;
}


.skills .container{
    width: 40%;
    height: 300px;
    border: 2px solid rgb(83, 21, 227);
    padding: 30px;
}

.skills .box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.skills .card{
    width:5rem;
    height: 60px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.skills #tools{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card img{
    height: 130px;
}

.education{
    margin-top: 50px;
    display: flex;
    margin-left: 18%;
    gap: 50px;
}

.education .card{
    width: 450px;
    color: white;
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(25, 6, 55);
}

.education p{
    font-weight: 400;
}

.certificate .container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
    border: 2px solid rgb(83, 21, 227);
    padding: 50px;
}

.certificate .card{
    width: 19rem;
}

.certificate .card img{
    height: 200px;
}

.aboutme{
    margin-top: 100px;
    margin-left: 20%;
    font-weight:300;
    word-spacing: 5px;
}

.aboutme .content{
    padding: 0px 30px;
    border-left: 2px solid rgb(83, 21, 227);
}

.aboutme .content .para{
    width: 900px;
    position: relative;
    padding: 20px;
    border: 1px solid rgb(83, 21, 227);
    background-color: rgb(25, 6, 55);
    cursor: pointer;
    transition: all 0.4s;
}

.aboutme .content .para:hover{
    box-shadow: 0px 3px 12px 0px rgb(125, 63, 239);
    border: 1px solid transparent;
}

.aboutme .content .para::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      right: calc(100% + 22px);
      top:0;
      background-color: rgb(83, 21, 227);
      border: 2px solid rgb(83, 21, 227);
}

.form-group , .btn {
    width: 500px;
    margin-left: 35%;
}

.form{
    margin-top: 100px;
}

.form input{
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(33, 7, 73);
    color: white;
}

.form .form-control{
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(33, 7, 73);
    color: white;
}

.form input:hover{
    box-shadow: 0 0 8px rgb(125, 63, 239);
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(33, 7, 73);
    cursor: pointer;
}

.form-control:hover{
    box-shadow: 0 0 8px rgb(125, 63, 239);
    border: 2px solid rgb(83, 21, 227);
    background-color: rgb(33, 7, 73);

    cursor: pointer;
}

@keyframes moving{
   100%{
      margin-left: 20%;
   }
}

@keyframes magic {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}





@media(max-width:980px) {

    body{
        max-width: 100%;
        margin: 0.5% ;
        padding: 0px;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 30px;
        word-spacing: 2.5px;
        margin-right: 0px;
    }

   .intro{
     width: 500px;
     font-size: 15px;
   }  

   .fs-5{
    font-size:x-large;
   }

   .skills{
     margin-top: 50px;
     display: grid;
     grid-template-columns: 1fr ;
     margin-left:30%;
     row-gap: 40px;
   }
  
    .skills .container{
       
         width: 700px;
    }

    .skills .box{
          margin-left: 50px;
    } 
    .skills #tools{
        margin: 20px;
    }

    h2{
       margin-left: 100%;
    }
    
    .education{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 60%;
    }
    
    .certificate .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0;
        gap: 50px;
        margin-top: -20px;
        margin-left: 40%;
    }

    .certificate .card{
        width: 15rem;
    }

    .aboutme .para{
        width: 550px;
    }
}
